@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: 250 250 250;
  --color-text: 17 17 17;
  --color-primary: 146 20 12;
  --color-msg-other: 240 240 240;
  --color-msg-user: var(--color-primary);
  --color-meta-user: 235 235 235;
}

html[data-theme='light'] {
  --color-bg: 250 250 250;
  --color-text: 17 17 17;
  --color-primary: 146 20 12;
  --color-msg-other: 240 240 240;
  --color-msg-user: var(--color-primary);
  --color-meta-user: 235 235 235;
}

html[data-theme='dark'] {
  --color-bg: 40 40 40;
  --color-text: 235 235 235;
  --color-primary: 179 26 15;
  --color-msg-other: 70 70 70;
  --color-msg-user: 146 20 12;
  --color-meta-user: 235 235 235;
}

body, input, textarea, {
  @apply text-text bg-bg;
}

/*.theme {*/
/*  --forest-green100aditional: 4, 71, 28;*/
/*  --ivory: 246, 247, 235;*/
/*  --independence: 58, 64, 90;*/
/*  --deep-saffron: 243, 146, 55;*/
/*  --accent: var(--dark-red);*/
/*  --color-primary: var*/
/*}*/