@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: 250 250 250;
  --color-text: 17 17 17;
  --color-primary: 146 20 12;
  --color-msg-other: 240 240 240;
  --color-msg-user: var(--color-primary);
  --color-icon: 75 85 99;
  --color-icon-on-primary: 209 213 219;
}

html[data-theme='light'] {
  --color-bg: 250 250 250;
  --color-text: 17 17 17;
  --color-primary: 146 20 12;
  --color-msg-other: 240 240 240;
  --color-msg-user: var(--color-primary);
  --color-icon: 75 85 99;
  --color-icon-on-primary: 209 213 219;
}

html[data-theme='dark'] {
  --color-bg: 24 23 25;
  --color-text: 255 255 255;
  --color-primary: 179 26 15;
  --color-msg-other: 70 70 70;
  --color-msg-user: 146 20 12;
  --color-icon: 209 213 219;
  --color-icon-on-primary: 209 213 219;
}

body, input, textarea, .toast {
  @apply text-text bg-bg;
}

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/** Animate loader bar **/
.animate-bar {
  animation: 2s ease-in infinite alternate grow-x;
  width: 100vw;
  transform-origin: 0;
}

@keyframes grow-x {
  from {
    transform: scaleX(0);
  }
  
  to {
    transform: scaleX(1);
  }
}

/*.theme {*/
/*  --forest-green100aditional: 4, 71, 28;*/
/*  --ivory: 246, 247, 235;*/
/*  --independence: 58, 64, 90;*/
/*  --deep-saffron: 243, 146, 55;*/
/*  --accent: var(--dark-red);*/
/*  --color-primary: var*/
/*}*/